{{> head }}

{{> navbar }}

    <div class="row">
        
        <div class="col-8">
            <h1>imagen</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et illo quod enim mollitia sapiente dolorem qui magnam quos odio! At culpa nulla alias dolore, ipsa mollitia inventore dolorem totam iste!</p>
        </div>

        <div class="col-4">
            <img src="assets/img/jupiter-juno-2019-500x500.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer  }}    